@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Raleway:ital,wght@0,300;1,200&display=swap');

.listContainer {
  width: 90%;
  margin: auto;
}

.catName {
  color: #1d1f22;
  font-family: 'Raleway', sans-serif;
}

.listItems {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
  gap: 20px;
}

.listItem {
  text-align: center;
  width: 94%;
  margin-bottom: -30%;
}

.link {
  text-decoration: none;
  color: black;
}

.outOfStock {
  position: relative;
  padding: 2px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.grey {
  opacity: 0.3;
}

.imageOut {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
}

.image {
  width: 100%;
  height: 100%;
}

.outOfStock {
  position: absolute;
}

.dataName,
.amount {
  text-align: left;
}
