@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Raleway:ital,wght@0,300;1,200&display=swap');

.listContainer {
  width: 90%;
  margin: auto;
}

.header > * {
  margin: auto;
}

body > * {
  margin: auto;
}

.catName {
  color: #1d1f22;
  font-family: 'Raleway', sans-serif;
}

.listItems {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
  gap: 20px;
}

.listItem {
  text-align: center;
  width: 94%;
  margin: 50px 0 -30%;
}

.link {
  text-decoration: none;
  color: black;
}

.outOfStock {
  position: absolute;
  padding: 2px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.grey {
  opacity: 0.5;
}

.imageOut {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
}

.image {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.dataName,
.amount {
  text-align: left;
}

.amount {
  margin-bottom: 0;
}

.under {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 0;
  clear: both;
}

.addToCart {
  font-size: 16px;
  font-weight: 600;
  background-color: #5ece7b;
  border: none;
  color: #fff;
  min-height: 30px;
  width: 100%;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
}

.InCartCartIcon {
  position: absolute;
  z-index: 50;
  height: 30px;
  width: 30px;
  margin-top: -20px;
  margin-left: 10vw;
}

@media only screen and (max-width: 756px) {
  .listItems {
    grid-template-columns: 100%;
    align-self: center;
    width: 100%;
    margin: auto;
  }

  .listItems > * {
    margin: auto;
  }

  .listItem {
    width: 100%;
    margin-bottom: 50px;
    border-top: 1px solid rgba(99, 97, 97, 1);
    padding-top: 20px;
  }

  .image {
    height: 90vw;
  }

  .InCartCartIcon {
    margin-top: -20px;
    margin-left: 32vw;
  }

  .header {
    display: none;
  }
}
