.statusBar {
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  margin: 0;
  width: 100%;
  text-align: center;
  padding: 5px;
  z-index: 500;
  font-size: 1.2rem;
  font-weight: 800;
  box-sizing: border-box;
}

.success {
  background-color: #5ece7b;
}

.failure {
  background-color: rgb(192, 33, 33);
}

.detailsContainer {
  width: 90%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 60% 25%;
}

.thumbnailList img {
  width: 100%;
}

.image {
  width: 100%;
}

.leftSection {
  display: grid;
  grid-template-columns: 20% 70%;
  gap: 20px;
}

.thumbnailList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.thumbnail {
  height: auto;
  overflow-y: hidden;
  border: 1px solid;
  padding: 0;
  margin: 5px;
}

.thumbnail img {
  height: 100%;
  margin-bottom: -5px;
}

.size {
  font-weight: 700;
  color: #1d1f22;
  font-size: 18px;
  margin: 15px 0 3px;
}

.nameStyle {
  margin-top: 0;
  font-size: 30px;
  color: #1d1f22;
}

.sizeList {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sizeItem {
  height: 45px;
  width: 63px;
  margin-right: 5px;
  text-align: center;
  line-height: 35px;
  border: 4px solid #5ece7b;
}

.sizeItem:hover {
  opacity: 1;
}

.pointer {
  cursor: pointer;
  border: 0.5px solid olive;
}

.greyedOut {
  border-color: rgba(0, 0, 0, 0.5);
}

.prizeHeading {
  font-weight: 700;
  color: #1d1f22;
  font-size: 18px;
  margin-bottom: 0;
}

.prize {
  margin-top: 0;
}

.addToCart {
  font-size: 16px;
  font-weight: 600;
  background-color: #5ece7b;
  border: none;
  color: #fff;
  height: 52px;
  width: 100%;
  margin-bottom: 10px;
}

.addToCart2 {
  font-size: 16px;
  font-weight: 600;
  background-color: #7a8c70;
  border: none;
  color: #fff;
  height: 52px;
  width: 100%;
  margin-bottom: 10px;
}

.remove {
  font-size: 16px;
  font-weight: 600;
  border: none;
  color: #fff;
  height: 52px;
  width: 100%;
  background-color: rgb(105, 33, 33);
  cursor: pointer;
  margin-bottom: 10px;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button {
  height: 45px;
  width: 45px;
  border: solid rgb(214, 207, 207);
  color: rgb(172, 164, 164);
  background-color: #fff;
  font-size: 30px;
  cursor: pointer;
}

.button:hover {
  border: solid #5ece7b;
  background-color: #5ece7b;
  color: #fff;
}

.button:active {
  border: solid #000;
  background-color: #000;
  color: #fff;
}

.itemCount {
  font-size: 24px;
  font-weight: 500;
  font-family: sans-serif;
}

.addToCart:hover {
  color: #5ece7b;
  background-color: #000;
  cursor: pointer;
}

.addToCart:active {
  background-color: #fff;
  color: #000;
}
