@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Raleway:ital,wght@0,300;1,200&display=swap');

.checkoutContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  z-index: 200;
  color: #fff;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
}

.inner {
  max-width: 600px;
  background-color: white;;
  color: black;
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: 500;
  opacity: 1;
}

.inner > p:first-child {
  color: #27703a;
  font-weight: 900;
}

.amount {
  font-family: sans-serif;
}
