@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Raleway:ital,wght@0,300;1,200&display=swap');

.overlay {
  position: absolute;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(57, 55, 72, 0.22);
  font-family: 'Raleway', sans-serif;
}

.card {
  position: absolute;
  right: 7%;
  background-color: #fff;
  width: 325px;
  height: 90%;
  padding: 10px;
}

.cartList {
  padding: 0;
  margin: 0;
  max-height: 65vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.cartItem {
  margin-top: 0;
}

.totalContainer,
.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.totalContainer {
  padding: 10px 0;
  border-top: 1px solid rgb(165, 148, 148);
}

.totalContainer span:nth-child(2) {
  font-family: sans-serif;
}

.buttonsContainer button {
  height: 43px;
  width: 46%;
  cursor: pointer;
}

.viewBagLink {
  display: inline-block;
  width: 50%;
  background-color: green;
}

.viewBagLink .viewBag {
  display: inline-block;
  width: 100%;
  color: #1d1f22;
  font-weight: 600;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid grey;
}

.viewBag:hover {
  background-color: black;
  color: white;
}

.checkOut {
  background-color: #5ece7b;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  border: none;
}

.checkOut:hover {
  background-color: #fff;
  color: #5ece7b;
  border: 1px solid gray;
}

@media screen and (max-width: 800px) {
  .overlay {
    position: absolute;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(57, 55, 72, 0.22);
    font-family: 'Raleway', sans-serif;
  }
  
  .card {
    position: relative;
    right: -0.5%;
    background-color: #fff;
    width: 100%;
    height: auto;
    padding: 0;
  }

  .card > div:first-child span:first-child {
    margin-left: 10px;
  }
  
  .cartList {
    padding: 0;
    margin: 0;
    max-height: 65vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .totalContainer,
  .buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .totalContainer {
    padding: 10px;
    margin-top: 10px;
    border-top: 1px solid rgb(165, 148, 148);
  }
  
  .buttonsContainer {
    margin-top: 10px;
    padding: 10px;
  }
  
  .buttonsContainer button {
    height: 43px;
    width: 42%;
    cursor: pointer;
  }
}

@media screen and (max-width: 400px) {
  
  .buttonsContainer {
    margin-top: 0;
    padding-top: 0;
  }
}
