.statusBar {
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
    z-index: 500;
    font-size: 1.2rem;
    font-weight: 800;
    box-sizing: border-box;
  }
  
  .success {
    background-color: #5ece7b;
  }
  
  .failure {
    background-color: rgb(192, 33, 33);
  }
  
  .detailsContainer {
    position: fixed;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    margin: 0;
  }

  .inner {
      width: 30%;
      display: flex;
      justify-content:center;
      background-color: white;
  }
  
  .size {
    font-weight: 700;
    color: #1d1f22;
    font-size: 18px;
    margin: 15px 0 3px;
    text-align: center;
  }
  
  .sizeList {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .sizeItem {
    height: 45px;
    width: 63px;
    margin-right: 5px;
    text-align: center;
    line-height: 35px;
    border: 4px solid #5ece7b;
  }
  
  .sizeItem:hover {
    opacity: 1;
  }
  
  .pointer {
    cursor: pointer;
    border: 0.5px solid olive;
  }
  
  .greyedOut {
    border-color: rgba(0, 0, 0, 0.5);
  }
  
  .prizeHeading {
    font-weight: 700;
    color: #1d1f22;
    font-size: 18px;
    margin-bottom: 0;
  }
  
  .prize {
    margin-top: 0;
  }
  
  .addToCart {
    font-size: 16px;
    font-weight: 600;
    background-color: #5ece7b;
    border: none;
    color: #fff;
    height: 52px;
    width: 100%;
    margin: 10px 0;
  }
  
  .addToCart2 {
    font-size: 16px;
    font-weight: 600;
    background-color: #7a8c70;
    border: none;
    color: #fff;
    height: 52px;
    width: 100%;
    margin: 10px 0;
  }
  
  .remove {
    font-size: 16px;
    font-weight: 600;
    border: none;
    color: #fff;
    height: 52px;
    width: 100%;
    background-color: rgb(105, 33, 33);
    cursor: pointer;
    margin: 10px 0;
  }
  
  .addToCart:hover {
    color: #5ece7b;
    background-color: #000;
    cursor: pointer;
  }
  
  .addToCart:active {
    background-color: #fff;
    color: #000;
  }
  